**Object Oriented Programming(OOP)**
- Object-oriented programming (OOP) is a paradigm that revolves around the concept of objects, which can contain data and code. 
- This approach helps in organizing complex programs by breaking them into smaller, manageable parts called objects.

> OOP organizes codes into object which bundles:
 - attributes(data) 
 - Methods(behaviour/objects)

# Class constructor

> THE PEB8 convention is to use CapWords(upper camelCase or PascalCamel) as the format for class names

In [1]:
# a class is a constructor of objects of a specific type
class BankAccount:
    def __init__(self,owner,balance=0): # this is the constructor
        self.owner = owner
        self.balance = balance

In [2]:
#lets create an `object` of bank account
account = BankAccount("Merlin", 1000)

In [3]:
# Check the attribute for the account opened by Merlin
print(f"The account owner  is {account.owner}")
print(f"The balance on the account is ${account.balance:,.2f}")

The account owner  is Merlin
The balance on the account is $1,000.00

In [4]:
# LETS UPDATE WITH METHODS- DEPOSIT
class BankAccount:
    def __init__ (self,owner,balance = 0):
        self.owner = owner
        self.balance = balance

# create a method
    def deposit(self,amount):
        if amount > 0:
            self.balance += amount
            print(f" Deposited ${amount:,.2f}")
        else:
            print("Invalid transaction-deposit a valid amount")

In [5]:
#instatiante a bank account object
account_2=BankAccount("Yaira", 8000)

In [6]:
#check_method
account_2.deposit(9800)

 Deposited $9,800.00

In [7]:
account_2.deposit(-6)

Invalid transaction-deposit a valid amount

In [8]:
class BankAccount:
    def __init__ (self,owner,balance = 0):
        self.owner = owner
        self.balance = balance
    #create a method
    def withdraw (self,amount):
        if amount < self.balance:
            self.balance -= amount
            print(f'You have withdrawn ${amount:,.2f}. Your current balance: ${self.balance:,.2f}')
        else:
            print('Invalid transaction- you are below credit line')

**Home activity**
1. Create a method called `withdraw`
    -compare the balance - if greater than amount to be withdrwan,do the withdrwal and give a print statement
2. Create a `get_balance` -This will print the current balance on the acount object.

In [9]:
account_3 = BankAccount("Monicah", 3000)

In [10]:
#CHECK METHOD
account_3.withdraw(700)

You have withdrawn $700.00. Your current balance: $2,300.00

In [11]:
account_3.withdraw(8000)

Invalid transaction- you are below credit line

In [12]:
# method get_balance
class BankAccount:
    def __init__ (self,owner,balance = 0):
        self.owner = owner
        self.balance = balance
    #create a method
    def deposit(self,amount):
        if amount>0:
            self.balance += amount
            print(f"Hello {self.owner}, You have deposited ${amount:,.2f}. Your current balance: ${self.balance:,.2f}")
        else:
            print('Hello {self.owner},Thats an invalid transaction, kindly deposit a valid amount')
                  
    def withdraw (self,amount):
         if amount <= self.balance:
              self.balance -= amount
              print(f'You have withdrawn ${amount:,.2f}. Your current balance: ${self.balance:,.2f}')
         else:
             print('Invalid transaction- you are below credit line')
        #Add get_balance method
    def get_balance(self):
         return f'${self.balance:,.2f}'

In [13]:
account_4= BankAccount("Ephantus", 50000)

In [14]:
account_4.get_balance()

'$50,000.00'

In [15]:
#Check method
account_4.withdraw(780)

You have withdrawn $780.00. Your current balance: $49,220.00

In [16]:
#check method
account_4.deposit(4500)

Hello Ephantus, You have deposited $4,500.00. Your current balance: $53,720.00

In [17]:
#check method
account_4.deposit(-4500)

Hello {self.owner},Thats an invalid transaction, kindly deposit a valid amount

In [18]:
#Check method
account_4.withdraw(90780)

Invalid transaction- you are below credit line

# 20th july 2025

# Inheritance 
- A way to create a new class (child) that inherits attributes and methods from an existing class (parent).

In [19]:
# Lets create a saving account -  limit the number of withdrawal to 3
class SavingsAccount(BankAccount):
    def __init__(self,owner,balance=0,withdrawal_limit=3):
        super(). __init__(owner,balance)    #This serve as a connection to the parent class
        self.withdrawal_limit = withdrawal_limit
        self.withdrawals_made = 0

    def withdraw(self,amount):
        if self.withdrawals_made >= self.withdrawal_limit:
            print("Transaction Error - withdraw limit reached")
        else:
            super().withdraw(amount) #super refers to the base class/we can also use it as BankAccount
            self.withdrawals_made += 1

In [20]:
# Instantiate a saving account - from parent clas BankAccount
savings_account = SavingsAccount(owner='Kayla', balance=4500)

In [21]:
#check attributes
savings_account.owner, savings_account.balance

('Kayla', 4500)

In [22]:
#deposit money in the account
savings_account.deposit(67000)

Hello Kayla, You have deposited $67,000.00. Your current balance: $71,500.00

In [23]:
#Lets withdraw some money
#withdraw _1
savings_account.withdraw(7800)

You have withdrawn $7,800.00. Your current balance: $63,700.00

In [24]:
#withdraw _2
savings_account.withdraw(4500)

You have withdrawn $4,500.00. Your current balance: $59,200.00

In [25]:
#withdraw _3
savings_account.withdraw(9500)

You have withdrawn $9,500.00. Your current balance: $49,700.00

In [26]:
#withdraw _4
savings_account.withdraw(7300)

Transaction Error - withdraw limit reached

In [27]:
#withdraw _4
savings_account.withdraw(7300)

Transaction Error - withdraw limit reached

In [28]:
# one more example - checking account with overdraft
class CurrentAccount(BankAccount):
    def __init__(self,owner,balance=0, overdraft_limit=1000):
        BankAccount.__init__(self,owner,balance=0) # Bank account has been used instead of super()
        self.overdraft_limit = overdraft_limit

    def withdraw(self,amount):
        if amount <= self.balance + self.overdraft_limit:
            self.balance -= amount
            print(f"Withdrawn ${amount:,.2f}. Current balance: ${self.balance:,.2f} \nAvailable balance (with overdraft): ${self.balance + self.overdraft_limit:,.2f}")

In [29]:
#Instantiate a current account _ inheritance from bank account
current_account = CurrentAccount("Kenda")

In [30]:
#Confirm OD limit
current_account.overdraft_limit

1000

In [31]:
current_account.withdraw(500)

Withdrawn $500.00. Current balance: $-500.00
Available balance (with overdraft): $500.00

In [32]:
current_account.withdraw(500)

Withdrawn $500.00. Current balance: $-1,000.00
Available balance (with overdraft): $0.00

In [33]:
class CurrentAccount(BankAccount):
    def __init__(self,owner,balance=0, overdraft_limit=1000):
        super().__init__(owner,balance=0) #when using super we remove the self
        self.overdraft_limit = overdraft_limit
        
          #create a method
    def deposit(self,amount):
        if amount>0:
            self.balance += amount
            print(f"You have deposited ${amount:,.2f}. Your current balance: ${self.balance:,.2f}")
        else:
            print('Thats an invalid transaction, kindly deposit a valid amount')

    def withdraw(self,amount):
        if amount <= self.balance + self.overdraft_limit:
            self.balance -= amount
            print(f"Withdrawn ${amount:,.2f}. Current balance: ${self.balance:,.2f} \nAvailable balance (with overdraft): ${self.balance + self.overdraft_limit:,.2f}")
        else:
            print("Transaction error - Balance and limit exceeded")

In [34]:
current_account_2 = CurrentAccount('Ephantus')

In [35]:
current_account_2.withdraw(800)

Withdrawn $800.00. Current balance: $-800.00
Available balance (with overdraft): $200.00

In [36]:
current_account_2.deposit(4500)

You have deposited $4,500.00. Your current balance: $3,700.00

In [37]:
current_account_2.withdraw(9000)

Transaction error - Balance and limit exceeded

In [38]:
current_account_2.get_balance()

'$3,700.00'

# Polymorphism  
- Polymorphism, derived from the Greek words poly (many) and morph (forms), is a fundamental concept in object-oriented programming (OOP).  
- It allows objects to take on multiple forms, enabling the same interface or method to behave differently based on the object it is acting upon.  
- This concept enhances flexibility, code reusability, and abstraction in software development.
  
> Method Overriding  
> Duck Typing

In [39]:
# Method overriding _ withdraw()

accounts = [
    SavingsAccount('Soyinka',2000),
    CurrentAccount('Grace', 200, 600)
]

In [40]:
for account in accounts:
    account.withdraw(250)

You have withdrawn $250.00. Your current balance: $1,750.00
Withdrawn $250.00. Current balance: $-250.00
Available balance (with overdraft): $350.00

In [41]:
# Duck Typing - Pyhton does not require inheritance if an object has the right method
class CryptoWallett:
    def withdraw(self,amount):
        print(f"Transferred crypto worth ${amount:,.2f}")

In [42]:
def process_withdrawal(account, amount):
    account.withdraw(amount)

In [43]:
process_withdrawal(CurrentAccount("Soyinka", 200), 100)

Withdrawn $100.00. Current balance: $-100.00
Available balance (with overdraft): $900.00

In [44]:
process_withdrawal(CryptoWallett(), 100)

Transferred crypto worth $100.00

In [45]:
# Lets see this fail
class FixedDeposit:

    def cannot_withdraw(self, amount):
        print("Will i be able to withdraw?")

In [46]:
#process_withdrawal(FixedDeposit(), 100)

In [47]:
class Rectangle:
    def __init__(self,height,width):
        self.height=height
        self.width=width
rectangle=Rectangle(45,60)
rectangle.height
rectangle.width
area= rectangle.height*rectangle.width
print(area)

2700

In [48]:
rectangle = Rectangle(50,90)
area= rectangle.height*rectangle.width
print(area)

4500

In [49]:
rectangle = Rectangle(56,345)
area = rectangle.height*rectangle.width
print(area)

19320

In [50]:
rectangle = Rectangle(90,78)
print(area)

19320

In [51]:
class SavingAccount:
    def __init__(self,owner,saving):
        self.owner = owner
        self.balance = saving
    #create a method
    def deposit(self,amount):
        if amount > 0:
            self.balance += amount
            print(f" You have saved {amount:,.2f} and the current balance is {self.balance:,.2f}.")
        else:
            print(f" Invalid transaction your saving {amount:,.2f} is invalid amount, deposit a valid amount to continue saving with us!.")

In [52]:
#Method saving
saving_account = SavingAccount(owner="joan",saving=6000)

In [53]:
saving_account.deposit(4500)

 You have saved 4,500.00 and the current balance is 10,500.00.

In [54]:
saving_account.deposit(-67000)

 Invalid transaction your saving -67,000.00 is invalid amount, deposit a valid amount to continue saving with us!.

In [55]:
saving_account.deposit(789046)

 You have saved 789,046.00 and the current balance is 799,546.00.

In [56]:
class CurrentAccount:
    def __init__(self,owner,initial_deposit):
        self.owner = owner
        self.balance = initial_deposit
    #Create a method
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f" Thanks for banking with us, you have deposited {amount:,.2f}, and your current amount is {self.balance:,.2f}")
        else:
            print(f" Invalid amount,the amount {amount:,.2f} is invalid, kindly deposit a valid amount")

In [57]:
#Method deposit
account_7 = CurrentAccount("kenda",70000)

In [58]:
account_7.deposit(678900)

 Thanks for banking with us, you have deposited 678,900.00, and your current amount is 748,900.00

# 26th july 2025

**Encapsulation**

It involves bundling `data` (attributes) and `methods` that operate on that data into a single unit.   
It also involves hiding internal data to prevent direct access.

In [59]:
class BankAccount:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self. __balance = balance
            #create a method
    def deposit(self,amount):
        if 0 < amount <    self.__balance:
            self.__balance += amount
            print(f"You have deposited ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}")
        else:
            print('Thats an invalid transaction, kindly deposit a valid amount')
                  
    def withdraw (self,amount):
        if amount <= self.balance:
            self.__balance -= amount
            print(f'you have withdrawn ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}')
        else:
            print('invalid transaction- you are below credit line')

In [60]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"You have deposited ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}")
        else:
            print("That's an invalid transaction, kindly deposit a valid amount.")

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print(f"You have withdrawn ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}")
        else:
            print("Invalid transaction - you are below your credit line.")
    #add get balance
    def get_balance(self):  # Getter method to access private balance
        return self.__balance

In [61]:
account_8 = BankAccount("Mundu",70000)

In [62]:
account_8.get__balance()  # this is a private account and cant be accessed outside the class. The function will not work

AttributeError: 'BankAccount' object has no attribute 'get__balance'

In [63]:
account_8.get_balance() # this is a protected account and it will work

70000

In [64]:
account_8.get_balance()

70000

In [65]:
#Accessing the account with name mangling
account_8._BankAccount__balance

70000

In [66]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            print(f"You have deposited ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}")
        else:
            print("That's an invalid transaction, kindly deposit a valid amount.")

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print(f"You have withdrawn ${amount:,.2f}. Your current balance: ${self.__balance:,.2f}")
        else:
            print("Invalid transaction - you are below your credit line.")
    # getter for balance
    @property
    def balance(self):
        return f"${self.__balance:,.2f}"

    #setter for balance
    @balance.setter
    def balance(self, value):
        if isinstance(value,(int, float)) and value >= 0:
            self.__balance = value
        else:
            print(f"(Invalid transaction)")

In [67]:
another_account = BankAccount("Dan", 678900)

In [68]:
another_account.balance

'$678,900.00'

In [69]:
another_account.balance = 8900000

In [70]:
another_account.balance

'$8,900,000.00'

### ABSTRACTION

> It hides complex implementation details and exposes only what is necessary

In [71]:
from abc import ABC, abstractmethod

In [72]:
class Account (ABC):
    def __init__(self,owner,balance=0):
        self.owner = owner
        self._balance = balance # Using protected attribute - convention

    @abstractmethod
    def deposit(self, amount):
        pass

    @abstractmethod
    def withdraw(self,amount):
        pass

    def get_balance(self):
        print(f"current balance: {self._balance:,.2f}")

In [73]:
# create a BankAccount class from the abstract base class
class BankAccountAbs(Account):
    def deposit(self,amount):
        if amount > 0:
            self._balance += amount
            print(f"deposited: ${amount:,.2f}")
        else:
            print("Invalid amount attempted")

    def withdraw(self,amount):
        if 0 < amount <= self._balance:
            self._balance -= amount
            print(f"Withdrew ${amount:,.2f}, Current Balance: ${self._balance:,.2f}")
        else:
            print(f"Invalid transaction or insufficient funds")

In [74]:
account_abs =  BankAccountAbs("King_tech", 678900)

In [75]:
account_abs.get_balance()

current balance: 678,900.00

In [76]:
account_abs.deposit(1000)

deposited: $1,000.00

In [77]:
account_abs.get_balance()

current balance: 679,900.00

In [78]:
account_abs.withdraw(9000)

Withdrew $9,000.00, Current Balance: $670,900.00

In [79]:
#You cannot instantiate the abstract base class
acc = Account('sho', 900)

TypeError: Can't instantiate abstract class Account without an implementation for abstract methods 'deposit', 'withdraw'

# Additional Concept in OOP

**Instance variable vs class variable**

In [80]:
#Lets add  class varible to bank account
class BankAccountAbsB(BankAccountAbs):
    bank_name = ' '
    def __init__(self,owner,balance=0):
        super().__init__(owner,balance)

#This the power of inheritance

In [81]:
test_account_1 = BankAccountAbsB("Arugum", 2000)
test_account_2 = BankAccountAbsB("patrick", 1000)

In [82]:
#Class variable
BankAccountAbsB.bank_name

' '

In [83]:
BankAccountAbsB.bank_name = 'Pybank'

In [84]:
test_account_1.bank_name

'Pybank'

In [85]:
test_account_2.bank_name

'Pybank'

In [86]:
test_account_1.deposit(24000)

deposited: $24,000.00

In [87]:
test_account_1.withdraw(1000)

Withdrew $1,000.00, Current Balance: $25,000.00

In [88]:
test_account_2.withdraw(20990)

Invalid transaction or insufficient funds

In [89]:
test_account_1.owner  #instance variable

'Arugum'

In [90]:
test_account_2.owner #Instance variable

'patrick'

**@Classmethod**

> We use this when we want to act on the class itself -  modify the class variable

In [91]:
class BankAccountAbsC(BankAccountAbs):
    bank_name = ' '
    def __init__(self,owner, balance=0):
        super().__init__(owner,balance)

    @classmethod
    def set_bank_name(cls,new_name):
        cls.bank_name = new_name

In [92]:
test_account_3 = BankAccountAbsC("Ephantus", 20000)

In [93]:
BankAccountAbsC.bank_name

' '

In [94]:
BankAccountAbsC.set_bank_name("CABank")

In [95]:
test_account_3.bank_name

'CABank'

**Staticmethod**
> use for utility or functions that do not access the class or object-(self,cls not needed)

In [96]:
class BankAcccountAbsD(BankAccountAbsC):
    @staticmethod
    def validate_amount(amount):
        if amount >= 0:
            print('Valid transcation amount')
        else:
            print('Invalid transaction amount')

In [97]:
test_account_4 = BankAcccountAbsD("Henry", 7000)

In [98]:
test_account_4.validate_amount(2000)

Valid transcation amount

In [99]:
test_account_4.validate_amount(-2000)

Invalid transaction amount

***27th july 2025***

**OOP DUNDER METHONDS**  
Used to define how objects bahave with pythons in_built functions like `print()`, `len()`, `+`    
One that we have seen is __init__()

**The  `__repr__` method**   

The `__repr__` method defines a string representation of the object that provides information about it.   
usually an expression that could recreate the object

In [100]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.__balance = balance

    def deposit(self,amount):
        if amount > 0:
            self.__balance += amount
            print(f"Deposited: ${amount:,.2f}")
        else:
            print("Invalid transaction _Deposit a valid amount")

    def withdraw(self,amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            print(f"Withdrew: ${amount:,.2f}. The current balance is {self.balance:,.2f}")
        else:
            print("Invalid transaction - insufficient balance")

    def get_balance(self):
        return f'${self._balance:,.2f}'

    def __repr__(self):
        return f"BankAccount({self.owner},Balance: {"*" * len(str(self.__balance))})"

In [101]:
my_account=BankAccount("Sonyika", 1000000)

In [102]:
my_account

BankAccount(Sonyika,Balance: *******)

In [103]:
print(my_account)

BankAccount(Sonyika,Balance: *******)

** The `__str__` Method**  

it defines a user_friendly string representation of an object, which shows when built-in `print()` is called  

if `_-str__` is not defined, python falls back to `_repr_`

In [104]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner=owner
        self.__balance = balance

    def deposit(self,amount):
        if amount > 0:
            self.__balance += amount
            print(f"Deposited: ${amount:,.2f}")
        else:
            print("Invalid transaction _Deposit a valid amount")

    def withdraw(self,amount):
        if 0 < amount<=self.__balance:
            self.__balance -= amount
            print(f"Withdrew: ${amount:,.2f}. The current balance is {self.balance:,.2f}")
        else:
            print("Invalid transaction - insufficient balance")

    def get_balance(self):
        return f'${self._balance:,.2f}'

    def __repr__(self):
        return f"BankAccount({self.owner},Balance: {"*" * len(str(self.__balance))})"

    def __str__(self):
        return f"Bank account details: \nOwner (self:owner): \nBalance: {"*" * len(str(self.__balance))}"

In [105]:
your_account = BankAccount("kenda", 70000)

In [106]:
your_account

BankAccount(kenda,Balance: *****)

In [107]:
print(your_account)

Bank account details:
Owner (self:owner):
Balance: *****

**The `__len__` method**  

It allows you to define what len() returns for your object

In [108]:
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner=owner
        self.__balance = balance

    def deposit(self,amount):
        if amount > 0:
            self.__balance += amount
            print(f"Deposited: ${amount:,.2f}")
        else:
            print("Invalid transaction _Deposit a valid amount")

    def withdraw(self,amount):
        if 0 < amount<=self.__balance:
            self.__balance -= amount
            print(f"Withdrew: ${amount:,.2f}. The current balance is {self.balance:,.2f}")
        else:
            print("Invalid transaction - insufficient balance")

    def get_balance(self):
        return f'${self._balance:,.2f}'

    def __repr__(self):
        return f"BankAccount({self.owner},Balance: {"*" * len(str(self.__balance))})"

    def __str__(self):
        return f"bank account details: \n owner (self:owner): \nBalance:{"*" * len(str(self.__balance))}"

    def __len__(self):
        return len(str(self.__balance))

In [109]:
our_account = BankAccount("CareerAmend", 56700000)

In [110]:
len(our_account)

8

**Class activity**

**Activity 1**  
Task:-  
- Create a `person` class with `name and `age` attributes.      
- Create an `introduce` method that prints the persons name and age.    

**Activity 2**    
- Create a `student` class that inherits from the `person`  
- Add a student_id attribute  
- Update the introduce method to print the student_id as well

In [111]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hello everyone, my name is {self.name} and I am {self.age} years old.")

In [112]:
person_1 = Person("Trump", 78)

In [113]:
person_1.introduce()

Hello everyone, my name is Trump and I am 78 years old.

In [114]:
person_2 = Person('Ruto', 76)

In [115]:
person_2.introduce()

Hello everyone, my name is Ruto and I am 76 years old.

In [116]:
person_3 = Person("Jacskon", 34)

In [117]:
person_3.introduce()

Hello everyone, my name is Jacskon and I am 34 years old.

In [118]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"Hello everyone, my name is {self.name} and I am {self.age} years old.")

class Student(Person):
     def __init__(self, name, age, student_id):
            super().__init__(name, age)
            self.student_id = student_id

     def introduce(self):
            super().introduce()
            print(f"Hello everyone, my name is {self.name} and I am {self.age} years old and {self.student_id}")

In [119]:
student_4=Student("Grace", 36, "sf567s")

**Activity 3**  
Task:
- Create a `Professional` class that inherits from the `Person1 class   
- Create an attribute called `Profession`.   
- Adjust the `Introduce` methos to include the print of the `profession in addition to `name` and `age`.

In [120]:
class Professional(Person):
    def __init__(self, name, age, profession):
        super().__init__(name, age)
        self.profession = profession

    def introduce(self):
          print(f" Hello everyone, my name is {self.name} and I am {self.age} years old and my professional is {self.profession}")

In [121]:
person = Person("Alice", 56)

In [122]:
person.introduce()

Hello everyone, my name is Alice and I am 56 years old.

In [123]:
alice_student = Student("Alice", 25, 128)

In [124]:
alice_student.introduce()

Hello everyone, my name is Alice and I am 25 years old.
Hello everyone, my name is Alice and I am 25 years old and 128

In [125]:
alice_developer = Professional('Alice', 22, 'Python Developer')

In [126]:
alice_developer.introduce()

 Hello everyone, my name is Alice and I am 22 years old and my professional is Python Developer

***Some important python concepts***

*Generators*

In [127]:
#KList comprehension vs generator
[n**2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [128]:
#generator
(n**2 for n in range(12))

In [129]:
G = (n**2 for n in range(12))
list(G)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [130]:
# A list can be iterated multiple times, while a generator expression is single use
L = [n**2 for n in range(12)]

In [131]:
#First use
for value in L:
    print(value, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121

In [132]:
#second use
for value in L:
    print(value*2, end=' ')

0 2 8 18 32 50 72 98 128 162 200 242

In [133]:
#lets  test generator for multiple use
G = (n**2 for n in range(12))

#first use
for value in G:
    print(value,end=" ")

0 1 4 9 16 25 36 49 64 81 100 121

In [134]:
list(G)

[]

# Activity 4: Encapsulation (Protecting a Persons Data)  
- Task: Create a Person class with private name and age attributes.  
- Use getters to read them and a method to update age (0120 range).  
- Test creating a person, displaying details, and trying valid/invalid age updates.

In [135]:
class Person:
    def __init__(self,name,age):
        self.__name = name
        self.__age = age
        self.set_age(age)
        
    def get_name(self):
        return self.__name

    def get_age(self):
        return self.__age

#setting the age range
    def set_age(self, new_age):
        if 0 <= new_age <=120:
            self.__age = new_age
            print (f" Congratulations your age has been updated to {new_age}, thanks for your time, we appreciate!.")
        else:
            print(f"We are sorry, the age provided is invalid, kindly update your age to be within the range 0 and 120!.")


    def display_info(self):
        print(f"Hello,my name is {self.get_name()}, and i am {self.get_age()} years old.")

In [136]:
person = Person("John", 67)

 Congratulations your age has been updated to 67, thanks for your time, we appreciate!.

In [137]:
person.display_info()

Hello,my name is John, and i am 67 years old.

In [138]:
person.set_age(56)

 Congratulations your age has been updated to 56, thanks for your time, we appreciate!.

In [139]:
person.set_age(121)

We are sorry, the age provided is invalid, kindly update your age to be within the range 0 and 120!.

In [140]:
person.set_age(0)

 Congratulations your age has been updated to 0, thanks for your time, we appreciate!.

In [141]:
person.set_age(-9)

We are sorry, the age provided is invalid, kindly update your age to be within the range 0 and 120!.

In [142]:
person.set_age(67)

 Congratulations your age has been updated to 67, thanks for your time, we appreciate!.

In [143]:
person.display_info()

Hello,my name is John, and i am 67 years old.

In [144]:
person.set_age(60)

 Congratulations your age has been updated to 60, thanks for your time, we appreciate!.

In [145]:
person.get_name()

'John'

In [146]:
person.get_age()

60

##  Activity 5:  
**Abstraction (Defining a Common Interface)**  
-Task: Create an abstract PersonBase class with an abstract introduce method.  
-Make Person and Student inherit from it, implementing introduce to describe themselves (e.g., name/age for Person, adding student)

In [147]:
from abc import ABC, abstractmethod

class PersonBase(ABC):
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

    @abstractmethod
    def introduce(self):
        pass

class Person(PersonBase): 
    def introduce(self):
        return (f"Hello everyone, my name is {self.name} and I am {self.age} years old.")

class Student(Person):
    def __init__(self, name: str, age: int, student_id: str):
        super().__init__(name, age)
        self.student_id = student_id

    def introduce(self):
        base = super().introduce().rstrip(".")
        return (f"{base}, and my student ID is {self.student_id}.")

In [148]:
person = Person("Sonyika", 45)
print(person.introduce())

Hello everyone, my name is Sonyika and I am 45 years old.

In [149]:
student = Student("Asha", 20, "S12345")

In [150]:
print(student.introduce())

Hello everyone, my name is Asha and I am 20 years old, and my student ID is S12345.

***02/08/2025***

In [151]:
#Using a generators iterations can be stopped in between and started from the last point
G = (n**2 for n in range(12))
for n in G:
    print(n,end=" ")
    if n > 30: break
print("\ndoing something in between")
for n in G:
    print (n, end= " ")

0 1 4 9 16 25 36
doing something in between
49 64 81 100 121

In [152]:
#Using a generators iterations can be stopped in between and started from the last point
G = (n**2 for n in range(80))
for n in G:
    print(n,end=" ")
    if n > 1000: break
print("\ndoing something in between")
for n in G:
    print (n, end= " ")
    if n > 100: break
print("\ni am a lazy button")
for n in G:
    print (n, end = " ")
    if n > 3000: break
print("\nI am still trying")
for n in G:
    print (n, end = " ")
    if n >5000: break
print("\nI am almost there")
for n in G:
    print (n, end = " ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024
doing something in between
1089
i am a lazy button
1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025
I am still trying
3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041
I am almost there
5184 5329 5476 5625 5776 5929 6084 6241

In [153]:
# compare this using a list
G = [n**2 for n in range(80)]
for n in G:
    print(n,end=" ")
    if n > 30: break
print("\ndoing something in between")
for n in G:
    print (n, end= " ")
    if n > 100: break
print("\ni am a lazy button")
for n in G:
    print (n, end = " ")
    if n > 1000: break
print("\nI am still trying")
for n in G:
    print (n, end = " ")
    if n >5000: break
print("\nI am almost there")
for n in G:
    print (n, end = " ")

0 1 4 9 16 25 36
doing something in between
0 1 4 9 16 25 36 49 64 81 100 121
i am a lazy button
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024
I am still trying
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041
I am almost there
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241

In [154]:
# compare this using a list
L = [n ** 2 for n in range(12)]
for n in L:
    print(n, end=" ")
    if n > 30: break
print('\ndoing something in between')
for n in L:
    print(n,end=" ")

0 1 4 9 16 25 36
doing something in between
0 1 4 9 16 25 36 49 64 81 100 121

***Generator functions***

used for more complicated generators  
It uses the `yield` statement rather than the `return` statement.

In [155]:
G1 = [n ** 2 for n in range(12)]

In [156]:
def gen():
    for n in range (12):
        yield n**2

In [157]:
gen2=gen()

In [158]:
gen2

In [159]:
list (G1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [160]:
print(*G1)

0 1 4 9 16 25 36 49 64 81 100 121

In [161]:
G2 = gen()

In [162]:
g = iter(G2)

In [163]:
next(g)

0

In [164]:
next(g)

1

In [165]:
next(g)

4

In [166]:
next(g)

9

In [167]:
#Another example
def divide_by(divide_by, numbers):
    for number in range(numbers+1):
        yield round(number/divide_by, 2) # we have rounded off to 2decimal places

In [168]:
div = divide_by(3, 10)

In [169]:
div

In [170]:
for num in div:
    print(num, end=', ')

0.0, 0.33, 0.67, 1.0, 1.33, 1.67, 2.0, 2.33, 2.67, 3.0, 3.33,

#### Iterators

In [171]:
numbers = range(20)

In [172]:
type(numbers)

range

In [173]:
for i in numbers:
    print (i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [174]:
iter(numbers)

In [175]:
I = iter(numbers)

In [176]:
next(I)

0

In [177]:
next(I)

1

In [178]:
N = 10**12
for i in range (N):
    if i >= 90: break
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89

### Modules and Packages  
### Import statement

In [179]:
# Explicit module import
import math

In [180]:
math.cos(math.pi)

-1.0

In [181]:
# explicit modules as alias
import numpy as np

In [182]:
# using alias to access imported module
np.cos(np.pi)

-1.0

In [183]:
import pandas as pd

In [184]:
#implicit import of modules contents
from math import *
sin(pi**2) + cos(pi**2)

-1.3329865789331632

In [185]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [186]:
sum(range(5))

10

In [187]:
sum(range(5),-1)

9

In [188]:
from numpy import*

In [189]:
sum(range(5),-1)

10

import third party modules

In [190]:
import torch

In [191]:
!pip install torch

Requirement already satisfied: torch in c:\users\ephan\anaconda3\lib\site-packages (2.7.1)
Requirement already satisfied: filelock in c:\users\ephan\anaconda3\lib\site-packages (from torch) (3.13.1)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\ephan\anaconda3\lib\site-packages (from torch) (4.11.0)
Requirement already satisfied: sympy>=1.13.3 in c:\users\ephan\anaconda3\lib\site-packages (from torch) (1.14.0)
Requirement already satisfied: networkx in c:\users\ephan\anaconda3\lib\site-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in c:\users\ephan\anaconda3\lib\site-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in c:\users\ephan\anaconda3\lib\site-packages (from torch) (2024.6.1)
Requirement already satisfied: setuptools in c:\users\ephan\anaconda3\lib\site-packages (from torch) (75.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\ephan\anaconda3\lib\site-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ephan\anaconda3\lib\site-packages (from jinja2->torch) (2.1.3)

In [192]:
import torch

# 3RD AUG 2025

### eRRORS AND EXCEPTIONS HANDLING

In [193]:
#tEST with functions -string
float('1.24444')

1.24444

In [194]:
float("something")

ValueError: could not convert string to float: 'something'

In [195]:
# wwe sill `try` and except block to handle failure gracefully
def convert_float(x):
    try:
        return float (x)
    except:
        return x

In [196]:
convert_float('1.24356')

1.24356

In [197]:
convert_float('something_else')

'something_else'

In [198]:
#There can be diffrent types fo errors for the same function
float((2, 4))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [199]:
def convert_float(x):
    try:
        return float(x)

    except ValueError:
        return x

In [200]:
convert_float('something')

'something'

In [201]:
convert_float((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [206]:
# we can suppress multiple errors using tuples
def convert_float(x):
    try:
        return float(x)

    except (TypeError, ValueError):
        return x

In [203]:
convert_float((1,2))

(1, 2)

In [211]:
#We use the `finally` statement to get the code executed whether the `try` block or not
try:
    number=int(input("Enter number:"))
    result = 10/number
    print('Result:', result)
except ZeroDivisionError:
    print('You cannot divide by zero')
except ValueError:
    print('Please enter a valid number')
finally:
    print('Thank you for using this code')

Enter number: Y

Please enter a valid number
Thank you for using this code

In [212]:
#We can use else statement to run code if tge try does not fail
try:
    age = int(input('Enter your age:'))
except ValueError:
    print('This is not a valid age')
else:
    print(f'You entered:{age}')
finally:
    print('Thanks for using the age checker')

Enter your age: U

This is not a valid age
Thanks for using the age checker